.DS_Store
node_modules
# /dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

cheatsheet.md
pureTemplate.html
blog_backend/db.sqlite3
.vscode
blog_backend/__pycache__
blog_backend/blog_backend/__pycache__
blog_backend/blogContent/__pycache__
blog_backend/middlewares/__pycache__
blog_backend/blogContent/migrations
nginx_config/access.log